<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="./pages/about.html">About Us</a></li>
        <li><a href="./pages/contactUs.html">Contact Us</a></li>
        <li>
          <select name="" id="">
            <option value="" disabled selected>Services</option>
            <option value="">
              <a href="./pages/Web-dev.html">Web development</a>
            </option>
            <option value="">UI/UX Design</option>
          </select>
        </li>
      </ul>
    </nav>
  </body>
</html>
